.navbar{
  background-color: rgb(25,25,25);
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  /* display: inline-block; */
  top: 0;
}

.navbuttons{
  display: inline-block;
}

.navclock{  
  color: rgb(40, 255, 40);
  float: right;
  vertical-align: middle;
  font-size: x-large;
  text-align: center;
  padding: 10px;
}

.navbutton{
  background-color: inherit;
  color: rgb(200,200,200);
  font-size: x-large;
  text-align: center;
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.navbutton:hover {
  color: rgb(255,255,255);
}